myenv/*
.idea/*
venv/
td_V2.db
.DS_Store
codes/draft.ipynb
replication-package.zip

data/*

codes/__pycache__/
codes/pred_log.err
codes/pred_log.out
.Rproj.user

.RData
.Rhistory
JSS-TDpred2024.Rproj
related_work_matrix.csv
related_work_matrix.xls

